<section class="event-card">
  
  <!--Link to the event using event ID -->
  
  <a href="/event/{{id}}">
    
    <!-- Event name as the card header -->
    
    <header>{{event_title}}</header>
    
    <!--Image of food -->

    <img src="/images/{{filename}}">

    <!--Location, Date, Time-->

    <div>
        <a>{{event_location}}</a>
        <a>{{event_date}}</a>
        <a>{{event_description}}</a>
    </div>

    <!--Learn More Button-->
    <!-- Matt, when this button is clicked, it should take you to the menu page.-->

    <a class="cta" href="/views/partials/menu.handlebars">
    <button>Learn More</button>
    </a>

  </a>
</section>
