<section class="card">
  
  <!--Link to the event using event ID -->
  
  <a href="/event/{{id}}">
    
    <!-- Event name as the card header -->
    
    <header>{{event_title}}</header>
    
    <!--Image of food -->

    <img src="/images/{{filename}}">

    <!--Location, Date, Time-->

    <div>
        <a>{{event_location}}</a>
        <a>{{event_date}}</a>
    </div>

    <!--Learn More Button-->

    <div>
    <button>Learn More</button>
    </div>

  </a>
</section>

