<<<<<<< HEAD
=======

>>>>>>> 6b9c88d26249e78b0eac9386d3f932161872a33a
<!--Welcome-->
    <div class="welcome">
      <h2>Welcome to Utopia!</h2>
      <h3>Where all your culinary dreams come true!</h3>
    </div>

<!--Event-->
<<<<<<< HEAD
<section class="event-card">
  
  <!--Link to the event using event ID -->
  
  <a href="/events/{{id}}">
    
    <!-- Event name as the card header -->
    
    <header>{{singleEvent.event_title}}hello</header>
    
    <!--Image of food -->

    <img src="/images/{{filename}}">

    <!--Location, Date, Time-->

    <div>
        <a>{{event_location}}</a>
        <a>{{event_date}}</a>
        <a>{{event_description}}</a>
    </div>

    <!--Learn More Button-->
    <!-- Matt, when this button is clicked, it should take you to the menu page.-->

    <a class="cta" href="/views/partials/menu.handlebars">
    <button>Learn More</button>
    </a>

  </a>
</section>

=======

<section >
  
  <div class="events">
        <div class=" row justify-content-center">
            
            <!--Event Details-->
            {{#each events}}
            <div class="event-card">

                <!--Image for event-->

                <img src="/images/{{event_picture}}" class="homepage-image" alt="...">

                <div class="event-body">
                      <a href="/events/{{id}}" class="event-title">{{event_title}}</a>
                        
                        <h5>{{event_location}}</h5>
                        <h5>{{event_date}}</h5>
                      
                      <div class="event-details">
                            <p>{{event_description}}</p>
                      </div> 

                </div>
            
            </div>
            {{/each}}
        </div>
    </div>

  
</section>
>>>>>>> 6b9c88d26249e78b0eac9386d3f932161872a33a
