<section class="info">
  <img src="/images/{{filename}}" alt="{{description}}">
  
  <div class="details">
    <h2>{{event_title}}</h2>

    <h3>{{event_date}}</h3>

    <h4>{{event_location}}</h4>

    <p>{{event_description}}</p>
</div>
</section>
